@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarEntradaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Entradas";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/entradas/visualizar">Visualizar Entradas</a>
}

<form action="/entradas/cadastrar" method="post">
    <label>Data da Entrada:</label>
    <input type="date" name="data" />

    <label for="FuncionarioId">Funcionario da Entrada:</label>
    <select name="FuncionarioId" id="FuncionarioId">
        @foreach (var f in Model.FuncionariosDisponiveis)
        {
            <option value="@f.Id">@f.Nome</option>
        }
    </select>

    <label for="MedicamentoId">Medicamento da Entrada:</label>
    <br />
    <select name="MedicamentoId" id="MedicamentoId">
        @foreach (var m in Model.MedicamentosDisponiveis)
        {
            <option value="@m.Id">@m.Nome</option>
        }
    </select>

    <label>Quantidade do Medicamento:</label>
    <input type="text" name="quantidade" />

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/entradas/visualizar">Voltar</a>
    </div>
</form>