@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarEntradaViewModel;

<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cadastro de Entrada - Gestão de Medicamentos</title>
    <style>
        :root {
            --fundo-principal: #333333;
            --fundo-secundario: #444444;
            --borda: #2f2f2f;
            --color-main: white;
            --color-normal: skyblue;
            --color-hover: deepskyblue;
            --color-dif: dodgerblue;
        }

        body {
            margin: 0;
            background-color: var(--fundo-principal);
            color: var(--color-main);
            font-family: Tahoma, sans-serif;
        }

        a {
            color: var(--color-normal);
            text-decoration: none;
        }

            a:hover {
                color: var(--color-hover);
            }

        .a-main {
            color: var(--color-dif);
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 96px;
            justify-content: space-between;
            padding: 0 128px;
            background-color: var(--fundo-secundario);
            border: 1px solid var(--borda);
        }

            nav > ul {
                display: flex;
                gap: 32px;
                list-style: none;
            }

        header {
            padding: 0 192px;
        }

        main {
            padding: 0 192px;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        @@media (max-width: 768px) {
            nav {
                padding: 20px;
                justify-content: center;
            }

            header {
                padding: 20px;
            }

            main {
                padding: 20px;
            }
        }

        .option {
            padding: 0 16px;
            width: 256px;
        }

            .option > select {
                appearance: none;
                width: 100%;
                padding: 12px 24px;
                margin: 8px 0;
                font-size: 16px;
            }
        
            .option > input[type=text] {
                outline: none;
                width: 100%;
                padding: 12px 24px;
                margin: 8px 0;
                box-sizing: border-box;
            }

            .option > input[type=date] {
                padding: 8px 12px;
                margin: 8px 0;
            }
        
            .option > button {
                background-color: #333333;
                color: white;
                border: 2px solid dodgerblue;
                border-radius: 8px;
                font-size: 32px;
                transition-duration: 0.4s;
            }

            .option > button:hover{
                background-color: dodgerblue;
            }

    </style>
    </head>

    <body>
        <nav>
            <a class="a-main" href="/">Gestão de Medicamentos</a>
            <ul>
                <li><a href="/fornecedores/visualizar">Fornecedores</a></li>
                <li><a href="/funcionarios/visualizar">Funcionários</a></li>
                <li><a href="/pacientes/visualizar">Pacientes</a></li>
                <li><a href="/medicamentos/visualizar">Medicamentos</a></li>
                <li><a href="/entradas/visualizar">Entradas</a></li>
                <li><a href="/prescricoes/visualizar">Prescrições</a></li>
                <li><a href="/saidas/visualizar">Requisições</a></li>
            </ul>
        </nav>

        <header>
            <h2>Cadastro de Entrada</h2>
            <a href="/entradas/visualizar">Visualizar Entradas</a>
            <hr />
        </header>

        <main>
            <form action="/entradas/cadastrar" method="post">
                <div class="option">
                    <label>Data da Entrada:</label>
                    <br />
                    <input type="date" name="data" />
                </div>
                
                <div class="option">
                    <label for="FuncionarioId">Funcionario da Entrada:</label>
                    <br />
                    <select name="FuncionarioId" id="FuncionarioId">
                        @foreach (var f in Model.FuncionariosDisponiveis)
                        {
                            <option value="@f.Id">@f.Nome</option>
                        }
                    </select>
                </div>
                
                <div class="option">
                    <label for="MedicamentoId">Medicamento da Entrada:</label>
                    <br />
                    <select name="MedicamentoId" id="MedicamentoId">
                        @foreach (var m in Model.MedicamentosDisponiveis)
                        {
                            <option value="@m.Id">@m.Nome</option>
                        }
                    </select>
                </div>

                <div class="option">
                    <label>Quantidade do Medicamento:</label>
                    <br />
                    <input type="text" name="quantidade" />
                </div>
                
                <div class="option">
                    <button type="submit">Gravar</button>
                </div>
            </form>
        </main>
    </body>
</html>