@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirEntradaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Entrada";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/entradas/cadastrar">Cadastrar Nova Entrada</a>
    <a href="/entradas/visualizar">Visualizar Entradas</a>
}

<form action="/entradas/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/entradas/visualizar">Voltar</a>
    </div>
</form>


