@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarEntradasViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Entradas";
}

@section Header {
    <a href="/entradas/cadastrar">Cadastrar Nova Entrada</a>
}

@foreach (var p in Model.Registros)
{
    <div class="card">
        <h3>@p.NomeMedicamento</h3>

        <p><strong>Quantidade: </strong>@p.Quantidade</p>
        <p><strong>Data: </strong>@p.Data.ToShortDateString()</p>
        <p><strong>Funcionário: </strong>@p.NomeFuncionario</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/entradas/excluir/@p.Id">Excluir</a>
        </div>
    </div>
}