<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Gestão de Medicamentos</title>
    </head>

    <body>
        <h1>Gestão de Medicamentos</h1>

        <hr />

        <h3>Fornecedores</h3>

        <ul>
            <li><a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a></li>
            <li><a href="/fornecedores/visualizar">Visualizar Fornecedores</a></li>
        </ul>

        <hr />

        <h3>Funcionários</h3>

        <ul>
            <li><a href="/funcionarios/cadastrar">Cadastrar Funcionário</a></li>
            <li><a href="/funcionarios/visualizar">Visualizar Funcionários</a></li>
        </ul>

        <hr />

        <h3>Pacientes</h3>

        <ul>
            <li><a href="/pacientes/cadastrar">Cadastrar Paciente</a></li>
            <li><a href="/pacientes/visualizar">Visualizar Pacientes</a></li>
        </ul>

        <hr />

        <h3>Medicamentos</h3>

        <ul>
            <li><a href="/medicamentos/cadastrar">Cadastrar Medicamento</a></li>
            <li><a href="/medicamentos/visualizar">Visualizar Medicamentos</a></li>
        </ul>
        
        <hr />

        <h3>Entradas</h3>

        <ul>
            <li><a href="/entradas/cadastrar">Cadastrar Entradas</a></li>
            <li><a href="/entradas/visualizar">Visualizar Entradas</a></li>
        </ul>
    </body>
</html>