@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirSaidaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Requisição de Saída";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/saidas/cadastrar">Cadastrar Nova Requisição</a>
    <a href="/saidas/visualizar">Visualizar Requisições</a>
}

<form action="/saidas/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome</strong>?</p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/saidas/visualizar">Voltar</a>
    </div>
</form>

