@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarSaidasViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Requisições de Saída";
}

@section Header {
    <a href="/saidas/cadastrar">Cadastrar Nova Requisição</a>
}

@foreach (var p in Model.Registros)
{
    <div class="card">
        <h3>@p.NomeMedicamento</h3>

        <p><strong>Data:</strong> @p.Data.ToShortDateString()</p>
        <p><strong>Paciente:</strong> @p.NomePaciente</p>
        <p><strong>CRM: </strong> @p.NomePrescricao</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/saidas/excluir/@p.Id">Excluir</a>
        </div>
    </div>
}



