@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarFornecedorViewModel;

<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cadastro de Fornecedores - Gestão de Medicamentos</title>
    </head>

    <body>
        <h1>Gestão de Medicamentos</h1>

        <hr />

        <a href="/">Página Inicial</a> |
        <a href="/fornecedores/visualizar">Visualizar Fornecedores</a>

        <hr />

        <h3>Cadastro de Fornecedor</h3>

        <form action="/fornecedores/cadastrar" method="post">
            <label>Nome do Fornecedor:</label>
            <br />
            <input type="text" name="nome" />

            <br />

            <label>Telefone do Fornecedor:</label>
            <br />
            <input type="text" name="telefone" />

            <br />

            <label>CNPJ do Fornecedor:</label>
            <br />
            <input type="text" name="cnpj" />
            <hr />

            <button type="submit">Gravar</button>

        </form>
    </body>
</html>