@using ControleDeMedicamentos.ConsoleApp.Models;

@model EditarFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Fornecedores";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a>
    <a href="/fornecedores/visualizar">Visualizar Fornecedores</a>
}

<form action="/fornecedores/cadastrar" method="post">
    <div class="option">
        <label>Nome do Fornecedor:</label>
        <input type="text" name="nome" />

        <label>Telefone do Fornecedor:</label>
        <input type="text" name="telefone" />

        <label>CNPJ do Fornecedor:</label>
        <input type="text" name="cnpj" />

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/fornecedores/visualizar">Voltar</a>
        </div>
    </div>
</form>
