@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirFornecedorViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Fornecedores";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a>
    <a href="/fornecedores/visualizar">Visualizar Fornecedores</a>
}

<form action="/fornecedores/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/fornecedores/visualizar">Voltar</a>
    </div>
</form>
