@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarFornecedoresViewModel;
@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Fornecedores";
}

@section Header {
    <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a>
}

@foreach (var f in Model.Registros)
{
    <div class="card">
        <h3>@f.Nome</h3>

        <p><strong>Telefone: </strong>@f.Telefone</p>
        <p><strong>CNPJ: </strong>@f.CNPJ</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/fornecedores/editar/@f.Id">Editar</a>
            <a type="button" id="botaoCustom" href="/fornecedores/excluir/@f.Id">Excluir</a>
        </div>
    </div>
}
