@using ControleDeMedicamentos.ConsoleApp.ModuloFornecedores;

@{
    List<Fornecedor> fornecedores = ViewBag.Fornecedores;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualização de Fornecedores - Gestão de Medicamentos</title>
</head>

<body>
    <h1>Gestão de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> |
    <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a> |

    <hr />

    <h3>Visualização de Fornecedores</h3>

    <ul>
        @foreach (Fornecedor f in fornecedores)
        {
            <li>
                @f.ToString() / <a href="/fornecedores/editar/@f.Id">Editar</a> /
                <a href="/fornecedores/excluir/@f.Id">Excluir</a>
            </li>
        }
    </ul>
</body>
</html>
