@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarFornecedoresViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualização de Fornecedores - Gestão de Medicamentos</title>
    <style>
        :root {
            --fundo-principal: #333333;
            --fundo-secundario: #444444;
            --borda: #2f2f2f;
            --color-main: white;
            --color-normal: skyblue;
            --color-hover: deepskyblue;
            --color-dif: dodgerblue;
        }

        body {
            margin: 0;
            background-color: var(--fundo-principal);
            color: var(--color-main);
            font-family: Tahoma, sans-serif;
        }

        a {
            color: var(--color-normal);
            text-decoration: none;
        }

            a:hover {
                color: var(--color-hover);
            }

        .a-main {
            color: var(--color-dif);
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
        }
        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 96px;
            justify-content: space-between;
            padding: 0 128px;
            background-color: var(--fundo-secundario);
            border: 1px solid var(--borda);
        }

            nav > h2 {
                margin: 0;
                color: var(--color-dif);
            }

            nav > ul {
                display: flex;
                gap: 32px;
                list-style: none;
            }

        header {
            padding: 0 192px;
        }

        main {
            padding: 0 192px;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        .button-interaction {
            padding: 0 80%;
        }

        .card {
            border: 4px solid var(--color-normal);
            border-radius: 8px;
            padding: 0 16px;
            width: 256px;
            height: 256px;
            background-color: none;
            transition-duration: 0.4s;
        }

            .card:hover {
                background-color: var(--fundo-secundario);
                border: 4px solid var(--color-hover);
                transform: scale(1.05);
            }

            .card > h3 {
                text-align: center;
            }

        @@media (max-width: 768px) {
            nav {
                padding: 20px;
                justify-content: center;
            }

            header {
                padding: 20px;
            }

            main {
                padding: 20px;
            }
        }
    </style>
</head>

<body>
    <nav>
        <a class="a-main" href="/">Gestão de Medicamentos</a>
        <ul>
            <li><a href="/fornecedores/visualizar">Fornecedores</a></li>
            <li><a href="/funcionarios/visualizar">Funcionários</a></li>
            <li><a href="/pacientes/visualizar">Pacientes</a></li>
            <li><a href="/medicamentos/visualizar">Medicamentos</a></li>
            <li><a href="/entradas/visualizar">Entradas</a></li>
            <li><a href="/prescricoes/visualizar">Prescrições</a></li>
            <li><a href="/saidas/visualizar">Requisições</a></li>
        </ul>
    </nav>

    <header>
        <h2>Visualização de Fornecedores</h2>
        <a href="/fornecedores/cadastrar">Cadastrar Novo Fornecedor</a>
        <hr/>
    </header>

    <main>
        @foreach (var f in Model.Registros)
        {
            <div class="card">
                <h3>@f.Nome</h3>

                <p><strong>Telefone: </strong>@f.Telefone</p>
                <p><strong>CNPJ: </strong>@f.CNPJ</p>

                <div class="button-interaction">
                    <a href="/fornecedores/editar/@f.Id">Editar</a>
                    <a href="/fornecedores/excluir/@f.Id">Excluir</a>
                </div>
            </div>
        }
    </main>
</body>
</html>
