@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarFuncionarioViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Funcionário";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/funcionarios/visualizar">Visualizar Funcionários</a>
}

<form action="/funcionarios/cadastrar" method="post">
    <div class="option">
        <label>Nome do Funcionário:</label>
        <input type="text" name="nome" />

        <label>Telefone do Funcionário:</label>
        <input type="text" name="telefone" />

        <label>CPF do Funcionário:</label>
        <input type="text" name="cpf" />

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/funcionarios/visualizar">Voltar</a>
        </div>
    </div>
</form>