@using ControleDeMedicamentos.ConsoleApp.ModuloFuncionario;

@{
    Funcionario f = ViewBag.Funcionario;
}


<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edição de Funcionários - Gestão de Medicamentos</title>
    </head>

    <body>
        <h1>Gestão de Medicamentos</h1>

        <hr />

        <a href="/">Página Inicial</a> |
        <a href="/funcionarios/cadastrar">Cadastrar Novo Funcionário</a> |
        <a href="/funcionarios/visualizar">Visualizar Funcionários</a>

        <hr />

        <h3>Edição de Funcionário</h3>

        <form action="/funcionarios/editar/@f.Id" method="post">
            <label>Nome do Funcionário:</label>
            <br />
            <input type="text" name="nome" value="@f.Nome"/>

            <br />

            <label>Telefone do Funcionário:</label>
            <br />
            <input type="text" name="telefone" value="@f.Telefone"/>

            <br />

            <label>CPF do Funcionário:</label>
            <br />
            <input type="text" name="cpf" value="@f.CPF"/>
            <hr />

            <button type="submit">Gravar</button>

        </form>
    </body>
</html>