@using ControleDeMedicamentos.ConsoleApp.Models;

@model EditarFuncionarioViewModel;
@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Funcionário";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/funcionarios/cadastrar">Cadastrar Novo Funcionário</a>
    <a href="/funcionarios/visualizar">Visualizar Funcionários</a>
}

<form action="/funcionarios/cadastrar" method="post">
    <div class="option">
        <label>Nome do Funcionário:</label>
        <input type="text" name="nome" value="@Model.Nome"/>

        <label>Telefone do Funcionário:</label>
        <input type="text" name="telefone" value="@Model.Telefone"/>

        <label>CPF do Funcionário:</label>
        <input type="text" name="cpf" value="@Model.CPF"/>

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/funcionarios/visualizar">Voltar</a>
        </div>
    </div>
</form>
