@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarFuncionariosViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Funcionários";
}

@section Header {
    <a href="/funcionarios/cadastrar">Cadastrar Novo Funcionário</a>
}

@foreach (var f in Model.Registros)
{
    <div class="card">
        <h3>@f.Nome</h3>

        <p><strong>Telefone: </strong>@f.Telefone</p>
        <p><strong>CPF: </strong>@f.CPF</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/funcionarios/editar/@f.Id">Editar</a>
            <a type="button" id="botaoCustom" href="/funcionarios/excluir/@f.Id">Excluir</a>
        </div>
    </div>
}

