@using ControleDeMedicamentos.ConsoleApp.ModuloFuncionario;

@{
    List<Funcionario> funcionarios = ViewBag.Funcionarios;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualização de Funcionários - Gestão de Medicamentos</title>
</head>

<body>
    <h1>Gestão de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> |
    <a href="/funcionarios/cadastrar">Cadastrar Novo Funcionário</a> |

    <hr />

    <h3>Visualização de Funcionários</h3>

    <ul>
        @foreach (Funcionario f in funcionarios)
        { 
            <li>@f.ToString() / <a href="/funcionarios/editar/@f.Id">Editar</a> / <a href="/funcionarios/excluir/@f.Id">Excluir</a> </li>
        }
    </ul>
</body>
</html>
