@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarFuncionariosViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualização de Funcionários - Gestão de Medicamentos</title>
    <style>
        body {
            margin: 0;
            background-color: #333333;
            color: white;
            font-family: Tahoma, sans-serif;
        }

        a {
            color: skyblue;
            text-decoration: none;
        }

            a:hover {
                color: deepskyblue;
            }


        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 96px;
            justify-content: space-between;
            padding: 0 128px;
        }

            nav > h2 {
                margin: 0;
                color: dodgerblue;
            }

            nav > ul {
                display: flex;
                gap: 32px;
                list-style: none;
            }

        header {
            padding: 0 192px;
        }

        main {
            padding: 0 192px;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

            main > ul {
                list-style: none;
            }
    </style>
</head>

<body>
    <nav>
        <h2>Gestão de Medicamentos</h2>
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/funcionarios/cadastrar">Cadastrar Novo Funcionário</a></li>
        </ul>
    </nav>

    <header>
        <h2>Visualização de Funcionários</h2>
    </header>

    <main>
        <ul>
            @foreach (DetalhesFuncionarioViewModel f in Model.Registros)
            {
                <li>@f.ToString() | <a href="/funcionarios/editar/@f.Id">Editar</a> | <a href="/funcionarios/excluir/@f.Id">Excluir</a> </li>
            }
        </ul>
    </main>
</body>
</html>
