@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarMedicamentoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Medicamento";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/medicamentos/visualizar">Visualizar Medicamentos</a>
}

<form action="/medicamentos/cadastrar" method="post">
    <div class="option">
        <label>Nome do Medicamento:</label>
        <input type="text" name="nome" />

        <label>Descrição do Medicamento:</label>
        <input type="text" name="descricao" />

        <label>Estoque do Medicamento:</label>
        <input type="text" name="estoque" />

        <label for="FornecedorId">Fornecedor do Medicamento:</label>
        <select name="FornecedorId" id="FornecedorId">
            @foreach (var fornecedor in Model.FornecedoresDisponiveis)
            {
                <option value="@fornecedor.Id">@fornecedor.Nome</option>
            }
        </select>

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/medicamentos/visualizar">Voltar</a>
        </div>
    </div>
</form>