@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirMedicamentoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Medicamento";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/medicamentos/cadastrar">Cadastrar Novo Medicamento</a>
    <a href="/medicamentos/visualizar">Visualizar Medicamentos</a>
}

<form action="/medicamentos/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/medicamentos/visualizar">Voltar</a>
    </div>
</form>
