@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarMedicamentosViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Medicamentos";
}

@section Header {
    <a href="/medicamentos/cadastrar">Cadastrar Novo Medicamento</a>
}

@foreach (var p in Model.Registros)
{
    <div class="card">
        <h3>@p.Nome</h3>

        <p><strong>Descrição:</strong> @p.Descricao</p>
        <p><strong>Estoque:</strong> @p.Estoque</p>
        <p><strong>Fornecedor:</strong> @p.NomeFornecedor</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/medicamentos/editar/@p.Id">Editar</a>
            <a type="button" id="botaoCustom" href="/medicamentos/excluir/@p.Id">Excluir</a>
        </div>
    </div>
}

