@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarPacienteViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Paciente";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/pacientes/visualizar">Visualizar Pacientes</a>
}

<form action="/pacientes/cadastrar" method="post">
    <div class="option">
        <label>Nome do Paciente:</label>
        <input type="text" name="nome" />

        <label>Telefone do Paciente:</label>
        <input type="text" name="telefone" />

        <label>Cartão SUS do Paciente:</label>
        <input type="text" name="cartaoSus" />

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/pacientes/visualizar">Voltar</a>
        </div>
    </div>
</form>