@using ControleDeMedicamentos.ConsoleApp.Models;

@model EditarPacienteViewModel;

<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edição de Paciente - Gestão de Medicamentos</title>
    <style>
        body {
            margin: 0;
            background-color: #333333;
            color: white;
            font-family: Tahoma, sans-serif;
        }

        a {
            color: skyblue;
            text-decoration: none;
        }

            a:hover {
                color: deepskyblue;
            }


        nav {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 96px;
            justify-content: space-between;
            padding: 0 128px;
        }

            nav > h2 {
                margin: 0;
                color: dodgerblue;
            }

            nav > ul {
                display: flex;
                gap: 32px;
                list-style: none;
            }

        header {
            padding: 0 192px;
        }

        main {
            padding: 0 192px;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

            main > ul {
                list-style: none;
            }

        .option {
            padding: 0 16px;
            width: 256px;
        }

            .option > select {
                appearance: none;
                width: 100%;
                padding: 12px 24px;
                margin: 8px 0;
                font-size: 16px;
            }

            .option > input[type=text] {
                outline: none;
                width: 100%;
                padding: 12px 24px;
                margin: 8px 0;
                box-sizing: border-box;
            }

            .option > input[type=date] {
                padding: 8px 12px;
                margin: 8px 0;
            }

            .option > button {
                background-color: #333333;
                color: white;
                border: 2px solid dodgerblue;
                border-radius: 8px;
                font-size: 32px;
                transition-duration: 0.4s;
            }

                .option > button:hover {
                    background-color: dodgerblue;
                }
    </style>
    </head>

    <body>
        <nav>
            <h2>Gestão de Medicamentos</h2>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/pacientes/cadastrar">Cadastrar Novo Paciente</a></li>
                <li><a href="/pacientes/visualizar">Visualizar Pacientes</a></li>
            </ul>
        </nav>

        <header>
            <h2>Edição de Paciente</h2>
        </header>

        <main>
            <form action="/pacientes/editar/@Model.Id" method="post">
                <div class="option">
                    <label>Nome do Paciente:</label>
                    <br />
                    <input type="text" name="nome" value="@Model.Nome" />

                    <br />

                    <label>Telefone do Paciente:</label>
                    <br />
                    <input type="text" name="telefone" value="@Model.Telefone" />

                    <br />

                    <button type="submit">Gravar</button>
                </div>
            </form>
        </main>
    </body>
</html>