@using ControleDeMedicamentos.ConsoleApp.Models;

@model EditarPacienteViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Paciente";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/pacientes/cadastrar">Cadastrar Novo Paciente</a>
    <a href="/pacientes/visualizar">Visualizar Pacientes</a>
}

<form action="/pacientes/editar/@Model.Id" method="post">
    <div class="option">
        <label>Nome do Paciente:</label>
        <input type="text" name="nome" value="@Model.Nome" />

        <label>Telefone do Paciente:</label>
        <input type="text" name="telefone" value="@Model.Telefone"/>

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/pacientes/visualizar">Voltar</a>
        </div>
    </div>
</form>
