@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirPacienteViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Paciente";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/pacientes/cadastrar">Cadastrar Novo Paciente</a>
    <a href="/pacientes/visualizar">Visualizar Pacientes</a>
}

<form action="/pacientes/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/pacientes/visualizar">Voltar</a>
    </div>
</form>
