@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarPacientesViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Visualização de Pacientes - Gestão de Medicamentos</title>
</head>

<body>
    <h1>Gestão de Medicamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> |
    <a href="/pacientes/cadastrar">Cadastrar Novo Paciente</a> |

    <hr />

    <h3>Visualização de Pacientes</h3>

    <ul>
        @foreach (DetalhesPacienteViewModel p in Model.Registros)
        {
            <li>@p.ToString() / <a href="/pacientes/editar/@p.Id">Editar</a> / <a href="/pacientes/excluir/@p.Id">Excluir</a> </li>
        }
    </ul>
</body>
</html>
