@using ControleDeMedicamentos.ConsoleApp.Models;

@model VisualizarPacientesViewModel;
@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Pacientes";
}

@section Header {
    <a href="/pacientes/cadastrar">Cadastrar Novo Paciente</a>
}

@foreach (var p in Model.Registros)
{
    <div class="card">
        <h3>@p.Nome</h3>

        <p><strong>Telefone: </strong>@p.Telefone</p>
        <p><strong>Cartão do SUS: </strong>@p.CartaoSUS</p>

        <div class="button-interaction">
            <a type="button" id="botaoCustom" href="/pacientes/editar/@p.Id">Editar</a>
            <a type="button" id="botaoCustom" href="/pacientes/excluir/@p.Id">Excluir</a>
        </div>
    </div>
}