@using ControleDeMedicamentos.ConsoleApp.Models;

@model CadastrarPrescricaoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Prescrição";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/prescricoes/visualizar">Visualizar Prescrições</a>
}

<form action="/prescricoes/cadastrar" method="post">
    <div class="option">
        <label>CRM da Prescrição:</label>
        <input type="text" name="crm" />

        <label for="MedicamentoId">Medicamento da Prescrição:</label>
        <select name="MedicamentoId" id="MedicamentoId">
            @foreach (var m in Model.MedicamentosDisponiveis)
            {
                <option value="@m.Id">@m.Nome</option>
            }
        </select>

        <label>Dosagem por Dia da Prescrição:</label>
        <input type="text" name="dosagem" />

        <label>Período em Dias da Prescrição:</label>
        <input type="text" name="periodo" />

        <div class="button-interaction">
            <button type="submit" id="botaoCustom">Confirmar</button>
            <a type="button" id="botaoCustom" href="/prescricoes/visualizar">Voltar</a>
        </div>
    </div>
</form>