@using ControleDeMedicamentos.ConsoleApp.Models;

@model ExcluirPrescricaoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Prescrição";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/prescricoes/cadastrar">Cadastrar Nova Prescrição</a>
    <a href="/prescricoes/visualizar">Visualizar Prescrições</a>
}

<form action="/prescricoes/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/prescricoes/visualizar">Voltar</a>
    </div>
</form>